In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None
df = pd.read_csv(r'C:\Users\zygophythewhale267\Documents\Portfolio_Projects\My_Unique_Projects\tech_layoffs.csv')

In [3]:
df.head()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."

In [4]:
new_df = df.drop("additional_notes", axis='columns')

In [5]:
print(new_df)

            company total_layoffs impacted_workforce_percentage reported_date  \
0              C2FO            20                             2     12/9/2022
1          VideoAmp       Unclear                             2     9/19/2022
2          Amperity            13                             3     8/20/2022
3           Addepar            20                             3     1/18/2023
4    Thirty Madison            24                             3     5/13/2022
..              ...           ...                           ...           ...
484      Salesforce          9090                       Unclear      1/4/2023
485          Oracle       Unclear                       Unclear      8/1/2022
486      LivePerson       Unclear                       Unclear     9/15/2022
487          Skillz       Unclear                       Unclear     8/29/2022
488       Blueboard       Unclear                       Unclear     11/3/2022

                       industry headquarter_location  \
0             Fintech, payments          Leawood, KS
1         Advertising platforms          Los Angeles
2               Saas, analytics              Seattle
3       fintech, data analytics    Mountain View, CA
4                   Health Care             New York
..                          ...                  ...
484  enterprise tech, analytics        San Francisco
485   SaaS, enterprise software               Austin
486            Customer service             New York
487         Mobile Apps, Gaming        San Francisco
488         Enterprise Software        San Francisco

                          sources   status
0    Kansas City Business Journal  Private
1                    Company memo  Private
2                        Geekwire  Private
3                         Fortune  Private
4                           Axios  Private
..                            ...      ...
484                New York Times   Public
485               The Information   Public
486                      LinkedIn   Public
487                 Seeking Alpha   Public
488              LinkedIn reports  Private

[489 rows x 8 columns]

In [6]:
new_df.head()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private

In [7]:
# convert the date column into a datetime object
new_df['reported_date'] = pd.to_datetime(new_df['reported_date'])

In [8]:
# extract the day, month, and year components
new_df['day'] = new_df['reported_date'].dt.day
new_df['month'] = new_df['reported_date'].dt.month
new_df['year'] = new_df['reported_date'].dt.year

In [9]:
#extracted the date from reported date into three separate columns of day, month, year for easier more efficient time analysis 
new_df

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,day,month,year
0,C2FO,20,2,2022-12-09,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,9,12,2022
1,VideoAmp,Unclear,2,2022-09-19,Advertising platforms,Los Angeles,Company memo,Private,19,9,2022
2,Amperity,13,3,2022-08-20,"Saas, analytics",Seattle,Geekwire,Private,20,8,2022
3,Addepar,20,3,2023-01-18,"fintech, data analytics","Mountain View, CA",Fortune,Private,18,1,2023
4,Thirty Madison,24,3,2022-05-13,Health Care,New York,Axios,Private,13,5,2022
...,...,...,...,...,...,...,...,...,...,...,...
484,Salesforce,9090,Unclear,2023-01-04,"enterprise tech, analytics",San Francisco,New York Times,Public,4,1,2023
485,Oracle,Unclear,Unclear,2022-08-01,"SaaS, enterprise software",Austin,The Information,Public,1,8,2022
486,LivePerson,Unclear,Unclear,2022-09-15,Customer service,New York,LinkedIn,Public,15,9,2022
487,Skillz,Unclear,Unclear,2022-08-29,"Mobile Apps, Gaming",San Francisco,Seeking Alpha,Public,29,8,2022
488,Blueboard,Unclear,Unclear,2022-11-03,Enterprise Software,San Francisco,LinkedIn reports,Private,3,11,2022

In [10]:
# Searches the table for any duplicates and removes them from the dataframe
new_df.drop_duplicates()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,day,month,year
0,C2FO,20,2,2022-12-09,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,9,12,2022
1,VideoAmp,Unclear,2,2022-09-19,Advertising platforms,Los Angeles,Company memo,Private,19,9,2022
2,Amperity,13,3,2022-08-20,"Saas, analytics",Seattle,Geekwire,Private,20,8,2022
3,Addepar,20,3,2023-01-18,"fintech, data analytics","Mountain View, CA",Fortune,Private,18,1,2023
4,Thirty Madison,24,3,2022-05-13,Health Care,New York,Axios,Private,13,5,2022
...,...,...,...,...,...,...,...,...,...,...,...
484,Salesforce,9090,Unclear,2023-01-04,"enterprise tech, analytics",San Francisco,New York Times,Public,4,1,2023
485,Oracle,Unclear,Unclear,2022-08-01,"SaaS, enterprise software",Austin,The Information,Public,1,8,2022
486,LivePerson,Unclear,Unclear,2022-09-15,Customer service,New York,LinkedIn,Public,15,9,2022
487,Skillz,Unclear,Unclear,2022-08-29,"Mobile Apps, Gaming",San Francisco,Seeking Alpha,Public,29,8,2022
488,Blueboard,Unclear,Unclear,2022-11-03,Enterprise Software,San Francisco,LinkedIn reports,Private,3,11,2022

In [11]:
#Now the data will be exported into a new csv file to be used for data visualization using Tableau
new_df.to_csv(r'C:\Users\zygophythewhale267\Documents\Portfolio_Projects\My_Unique_Projects\tech_layoffs_cleaned.csv', index = False)